@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated == true && MVCupme.Controllers.GlobalVariables.Acceso("ADMIN"))
{
    <div id="map"></div>
    <div id="info-pane" class="leaflet-bar"></div>

    <div class="col-sm-2 col-md-2" id="panel_formulario" style="width:350px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Validar Subestación.</h3>
            </div>
            <div class="panel-body">
                <div id="FormCPPgn0">
                    <form style="text-align: center;">
                        <h5>Seleccione la opción de validación de Subestación</h5>
                        <div class="btn-group-vertical" role="group">
                            <button type="button" class="btn btn-default " id="Validar"><h6>Validar Subestación<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </h6></button>
                            <button type="button" class="btn btn-default" id="ValidarAct"><h6>Validar actualización de Subestaciones<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></h6></button>
                        </div>
                    </form>
                </div>
                <div id="FormCPPgn1" class="hide">
                    <button class="btn btn-danger pull-right btn-xs " type="button" onclick="CancelarAprobacion()">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Inicio
                    </button>
                    <div class="input-group custom-search-form">
                        <input type="search" id="container-search" value="" class="form-control" placeholder="Buscar Subestacion">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="BtnBusquedaMunEli" disabled>
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <br />
                    <div id="DivListaCpValidate">
                    </div>
                </div>
                <div id="FormCPPgn2" class="hide">
                    <button class="btn btn-danger pull-right btn-xs " type="button" onclick="CancelarActualizacion()">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Inicio
                    </button>
                    <center>
                        <h5> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Actualizaciones sin aprobar </h5>
                    </center>
                    <div class="input-group custom-search-form">
                        <input type="search" id="container-search-ActSubEst" value="" class="form-control" placeholder="Busca el actualizacion...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="BtnBusquedaAct" disabled>
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <div id="DivListaAct">
                    </div>
                </div>



            </div>
            <div class="panel-footer">
                <div class="row">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-2 col-md-2" id="panel_edicion" style="max-width:350px;min-width:340px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Edición Datos de SubEstaciones.</h3>
            </div>
            <div class="panel-body">
                <form style="max-height:280px;overflow:scroll;">
                    <div class="form-group">
                        <label for="EditInpNomCP">Nombre SubEstacion:</label>
                        <input type="text" class="form-control" id="EditInpNomCP" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="EditSectEstado">Estado:</label>
                        <select class="form-control" id="EditSectEstado">
                            <option value=""></option>
                            <option value="1">En Servicio</option>
                            <option value="2">Fuera de Servicio</option>
                            <option value="3">Futura</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Fecha Entrada en Operación</label>
                        <div class="input-group date">
                            <input type="text" class="form-control" id="EditdateOperacion" data-container="body" data-placement="left" data-toggle="popover" data-trigger="focus" data-animation="true" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="EditSectNivelTesion">Nivel de Tensión:</label>
                        <select class="form-control" id="EditSectNivelTesion" data-placement="left" data-toggle="popover" data-trigger="focus" data-animation="true">
                            <option value=""></option>
                            <option value="0">0</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="EditSectTensionSub">Relación de Transformación:</label>
                        <select class="form-control" id="EditSectTensionSub">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="form-group ">
                        <label for="EditInpPorcentajeCarga">Cargabilidad (%):</label>
                        <input type="text" class="form-control input-sm" id="EditInpPorcentajeCarga" onkeypress="NumDecPos(event)" maxlength="6" data-placement="left" data-toggle="popover" data-trigger="focus" data-animation="true">
                        <p id="EditErrorPorcentajeCarga" class="text-warning"></p>
                    </div>
                    <div class="form-group">
                        <label for="EditInpCapacidadMVA">Capacidad Nominal (MVA):</label>
                        <input type="text" class="form-control input-sm" id="EditInpCapacidadMVA" onkeypress="NumDecPos(event)" maxlength="6">
                    </div>

                    <div class="form-group">
                        <label for="EditSectAmpliacion">Posibilidad de Ampliación:</label>
                        <select class="form-control" id="EditSectAmpliacion">
                            <option value=""></option>
                            <option value="0">NO</option>
                            <option value="1">SI</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="EditInpObservacion">Observación:</label>
                        <textarea class="form-control" id="EditInpObservacion" placeholder=""></textarea>
                    </div>
                </form>
                <br />
                <button class="btn btn-info pull-right " type="button" onclick="SaveFeature()">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Guardar
                </button>
                <button class="btn btn-danger pull-left " type="button" onclick="CancelEditFeature()">
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cancelar
                </button>
            </div>
        </div>
    </div>



<div id="carousel-panel-generic" style="width:230px">
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row-fluid">
                            <div class="col-sm-6 col-md-6" id="BaseESRIStreets" value="Streets">
                                <a href="#" class="thumbnail">
                                    <img src="~/images/baselayers/calles.PNG" style="max-width:100%;">
                                    <div class="carousel-caption"><center><h6>ESRI Streets</h6></center></div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-6" id="BaseESRISatellite" value="Imagery">
                                <a href="#" class="thumbnail">
                                    <img src="~/images/baselayers/satelite.PNG" style="max-width:100%;">
                                    <div class="carousel-caption"><center><h6 style="color:rgba(255, 255, 255,1)">ESRI Satelite</h6></center></div>
                                </a>
                            </div>
                        </div><!--/row-fluid-->
                    </div><!--/item-->
                    <div class="item">
                        <div class="row-fluid">
                            <div class="col-sm-6 col-md-6" id="BaseESRITopo" value="Topographic">
                                <a href="#" class="thumbnail">
                                    <img src="~/images/baselayers/topografic.PNG" style="max-width:100%;">
                                    <div class="carousel-caption"><center><h6>ESRI Topographic</h6></center></div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-6" id="BaseOSM" value="OSM">
                                <a href="#" class="thumbnail">
                                    <img src="~/images/baselayers/OSM.PNG" style="max-width:100%;">
                                    <div class="carousel-caption"><center><h6>OSM</h6></center></div>
                                </a>
                            </div>

                        </div><!--/row-fluid-->
                    </div><!--/item-->
                </div><!--/carousel-inner-->

                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div><!--/myCarousel-->
        </div>
    <div class='mouse-position'>
        <b id='mousemove'><b />
    </div>
    @Scripts.Render("~/bundles/appMapGlobal")
    @Scripts.Render("~/bundles/appMapValidar")
}
else
{
<script>
        var direccion='@Url.Action("Index", "Home")';
        
        location.href = direccion;
        
</script>

}



